/*Galeria*/
.container_a img{ 
    width: 100%; 
    height: auto;

}

.container_b {
    width: 100%;
    height: auto;
    background: rgb(71, 157, 18);
    border-radius: 5%;  
}

.video {
    margin: 0 auto;
    width: 60%;
    display: block;
}

.imgOnly {
    margin-left: 20%;
}

.cuerpoGaleria {
    background-image: url(Img/huellas1.webp);
}

.pieGaleria {
    padding-bottom: 5%;
}

/*Inicio*/

.content_Parrafo_Home{
    border-style: outset; 
    border-color: rgb(215, 201, 79);
    background-color: bisque;
}

.texto{
    text-shadow: 2px 2px rgb(238, 255, 0);
}

.efecto a{
    transition: .4s;
}

.efecto a:hover{
    color: #0d97e1;
    transform: scale(1.1);
    border-bottom: 2px solid aqua;; 
}

.b{
    border-style: solid;
    border: 3px solid rgb(255, 119, 0);
}

.v{
    background-image: url(Img/huella.png);
}

.efecImag{
    transition: .4s;
}

.efecImag:hover{
    transform: scale(1.1);
}

.fondoservicios{
    background-image: url(Img/fondoservicio.jpg);
}

.textoservicio{
    text-shadow: 1px 1px rgb(255, 0, 170);
}

.textosservicios{
 text-decoration: underline;
 text-shadow: 1px 1px rgb(60, 255, 0);
}

.fondocontacto{
    background-image: url(Img/fondocontacto.jpg);
}

.pcontactp{
    color: white;
}


.textocontacto{
    color: white;
}

.textoscontactos{
 text-decoration: underline;
 color: white;
}
